---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/sections/Hero.astro"
import TechnologiesSection from "@/sections/TechnologiesSection.astro"
import Projects from "@/sections/Projects.astro"
import AboutMe from "@/sections/AboutMe.astro"
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/Footer.astro"
import NavbarMobile from "@/components/NavbarMobile.astro"
---

<Layout title="Portfolio de @malsebasmal - Antonio Maldonado Echevarria | Desarrollador y Programador Web">
	<header class="w-full px-4 xl:p-0 xl:w-[1024px] h-28 fixed z-50">
		<Navbar />
		<NavbarMobile />
	</header>
	<main class="w-full px-4 xl:p-0 xl:w-[1024px] h-auto">
		<Hero />
		<Projects />
		<TechnologiesSection />
		<AboutMe />
	</main>
	<Footer />
</Layout>
