---
import Layout from "@/layouts/Layout.astro"
import HeroSection from "@/sections/HeroSection.astro"
import TechnologiesSection from "@/sections/TechnologiesSection.astro"
import ProjectsSection from "@/sections/ProjectsSection.astro"
import AboutMe from "@/sections/AboutMe.astro"
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/Footer.astro"
---

<Layout title="malsebasmal portfolio">
	<header class="w-9/12 h-28 fixed z-50">
		<Navbar />
	</header>
	<main class="w-9/12	h-auto">
		<HeroSection />
		<TechnologiesSection />
		<ProjectsSection />
		<AboutMe />
	</main>
	<Footer />
</Layout>
