---
import Resume from "@/icons/Resume.astro";
---

<a class="flex gap-2 justify-center items-center font-bold bg-cPink text-white text-xl py-2 px-4 rounded-md">
  Curriculum vitae
  <Resume class="" />
</a>