---
import Resume from "@/icons/Resume.astro"
---

<a href="/AntonioMaldonado-ES.pdf" target="_blank" class="flex gap-2 justify-center items-center font-bold bg-cPink text-white hover:bg-white hover:text-cPink text-xl py-2 px-4 rounded-md transition duration-150 ease">
  Curriculum vitae
  <Resume class="" />
</a>