<footer class="w-full lg:w-[1024px]	h-auto flex justify-center items-center pt-16 pb-10 text-[#cccccc] font-medium">
  <span class="flex justify-center flex-wrap text-sm sm:text-base ">© 2024 <a class="ml-1 hover:font-semibold hover:text-cPink" href="#">@malsebasmal.</a> Casi todos los derechos reservados</span>
</footer>