 ---
import Gmail from "@/icons/Gmail.astro"
---

<a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=antoniomaldonadotech@gmail.com" target="_blank" class="flex gap-2 justify-center items-center font-bold bg-cPink text-white text-xl py-2 px-4 rounded-md">
  Gmail
  <Gmail class="" />
</a>