---
import CvButton from "./CvButton.astro"
import GmailButton from "./GmailButton.astro"
---

<nav class="flex flex-row justify-between items-center w-full h-full">
  <div class="flex items-center">
    <ul class="flex flex-row gap-5">
      <li>
        <a class="bg-none text-white font-bold py-2 px-4 text-xl" href="#technologies">Tecnologías</a>
      </li>
      <li>
        <a class="bg-none text-white font-bold py-2 px-4 text-xl" href="#projects">Experiencia/Proyectos</a>
      </li>
      <li>
        <a class="bg-none text-white font-bold py-2 px-4 text-xl" href="#aboutme">Sobre mí</a>
      </li>
    </ul>
  </div>
  <div class="flex gap-5">
    <GmailButton />
    <CvButton />
  </div>
</nav>