---
import CvButton from "./CvButton.astro"
import GmailButton from "./GmailButton.astro"
---

<nav class="flex flex-row justify-between items-center w-full h-full">
  <div class="flex items-center gap-10">
    <h1 class="text-white text-xl font-bold">@malsebasmal</h1>
    <ul class="flex flex-row gap-5">
      <li>
        <a class="bg-pinkPastel font-semibold py-2 px-4 rounded-full" href="#technologies">Tecnologías</a>
      </li>
      <li>
        <a class="bg-pinkPastel font-semibold py-2 px-4 rounded-full" href="#projects">Experiencia/Proyectos</a>
      </li>
      <li>
        <a class="bg-pinkPastel font-semibold py-2 px-4 rounded-full" href="#aboutme">Sobre mí</a>
      </li>
    </ul>
  </div>
  <div class="flex gap-5">
    <GmailButton />
    <CvButton />
  </div>
</nav>