---
import MenuBurger from "@/icons/MenuBurger.astro"
import CvButton from "./CvButton.astro"
import GmailButton from "./GmailButton.astro"
---

<nav class="flex lg:hidden flex-row justify-between items-center w-full h-full">
  <div class="dropdown w-full">
    <div tabindex="0">
      <MenuBurger class="text-white size-10"/>
    </div>
    <ul
      tabindex="0"
      class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] w-full flex flex-col gap-4 items-start mt-3">
      <li>
        <a class="bg-none text-white hover:text-cPink font-bold py-2 px-4 text-xl transition duration-150 ease" href="#projects">Proyectos</a>
      </li>
      <li>
        <a class="bg-none text-white hover:text-cPink font-bold py-2 px-4 text-xl transition duration-150 ease" href="#technologies">Tecnologías</a>
      </li>
      <li>
        <a class="bg-none text-white hover:text-cPink font-bold py-2 px-4 text-xl transition duration-150 ease" href="#aboutme">Sobre mí</a>
      </li>
      <li>
        <div class="flex flex-col items-start gap-4">
          <GmailButton />
          <CvButton />
        </div>
      </li>
    </ul>
  </div>
</nav>