---
import CvButton from "./CvButton.astro"
import GmailButton from "./GmailButton.astro"
---

<nav>
  <div>
    <h1>@malsebasmal</h1>
    <ul>
      <li>
        <a href="#">Tecnologías</a>
      </li>
      <li>
        <a href="#">Experiencia/Proyectos</a>
      </li>
      <li>
        <a href="#">Sobre mí</a>
      </li>
    </ul>
  </div>
  <div>
    <GmailButton />
    <CvButton />
  </div>
</nav>