---
const TECHNOLOGIES = [
  {
    name: "JavaScript",
    icon: "/technologies/javascript.svg",
    colorOne: "#f7df1e",
    colorTwo: "black"
  },
  {name: "HTML", icon: "/technologies/html.svg" },
  {name: "CSS", icon: "/technologies/css.svg" },
  {name: "TypeScript", icon: "/technologies/typescript.svg" },
  {name: "Ruby On Rails", icon: "/technologies/rails.svg" },
  {name: "Tailwind CSS", icon: "/technologies/tailwind.svg" },
  {name: "Sass", icon: "/technologies/sass.svg" },
  {name: "Astro", icon: "/technologies/astroother.svg" },
  {name: "React", icon: "/technologies/react.svg" },
  {name: "Node.js", icon: "/technologies/nodejs.svg" },
  {name: "Express", icon: "/technologies/express.svg" },
  {name: "PostgreSQL", icon: "/technologies/postgresql.svg" },
  {name: "MongoDB", icon: "/technologies/mongodb.svg" },
  {name: "Mongoose", icon: "/technologies/mongoose.svg" },
  {name: "Vite", icon: "/technologies/vite.svg" },
  {name: "Figma", icon: "/technologies/figma.svg" }
]
---

<ul class="grid grid-cols-2 sm:flex flex-wrap gap-4 justify-center">
  {TECHNOLOGIES.map((tech) => (
    <li class="flex justify-center items-center bg-transparent text-white py-6 sm:py-4 px-6 sm:px-10 rounded-md border-dashed border-2 border-gray-600 relative hover:bg-gray-800 transition duration-200 ease">
      <img class="w-6 absolute top-[2px] right-[2px] rounded-sm" src={tech.icon} alt={tech.name} />
      <h3 class="text-lg font-medium">{tech.name}</h3>
    </li>
  ))}
</ul>