<section id="aboutme" class="w-full flex flex-col sm:flex-row justify-center items-center gap-4 sm:gap-20 pt-28 mt-20">
  <img class="w-60" src="face.webp" alt="Antonio Maldonado (@malsebasmal)">
  <p class="text-white w-96 text-center sm:text-start text-pretty font-medium mt-0 sm:mt-10">
    <b class="font-black text-cRed">Per칰 游왫릖, Lima</b> es mi lugar de nacimiento.
    <br>
    Mi cercan칤a, pasi칩n y recorrido en el <b class="font-black text-cBlue">mundo de la programaci칩n</b> fue bastante peculiar; empezando mis estudios en un instituto para luego culminarlos de <b class="font-black text-cYellow">manera autodidacta</b> mediante recursos online gratuitos.
    <br>
    La <b class="font-black text-cPink">pasi칩n y cari침o por la programaci칩n web</b> es algo que me motiva d칤a a d칤a para seguir aprendiendo; desde <b class="font-black text-cPurple">tutoriales, libros hasta art칤culos completos en ingl칠s y/o espa침ol</b>.
  </p>
</section>