---

---

<section id="aboutme" class="w-full h-full flex justify-center items-center mt-20">
  <div class="flex justify-center items-center gap-10 px-10">
    <img class="w-[50%]" src="face.webp" alt="Antonio Maldonado">
    <p class="w-50%">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate unde ratione amet dolores, error aspernatur eligendi, sapiente mollitia autem repellendus tempore fugit culpa illo tempora consequatur impedit facere assumenda aliquid.
    </p>
  </div>
</section>