---
import Check from "@/icons/Check.astro"
---

<section id="home" class="w-full h-dvh pt-16 text-center lg:text-start flex flex-col lg:flex-row justify-center items-center gap-10 animate-fade-down animate-duration-5000 animate-ease-out">
  <div class="flex flex-col items-center gap-4 lg:gap-0 lg:items-start text-white"> 
      <h1 class="font-semibold text-6xl sm:text-8xl">
        Antonio <br> Maldonado
      </h1>
      <h2 class="flex items-center gap-3 font-semibold text-2xl sm:text-3xl">
          Desarrollador Web
      </h2>
  </div>
  <div class="">
    <ul class="flex flex-col gap-3 text-white text-lg">
      <li class="flex items-center gap-1 group">
        <Check class="mr-1 group-hover:text-cYellow transition duration-150 ease"/> You can see <a href="https://github.com/malsebasmal" target="_blank" class="font-semibold group-hover:text-cYellow">GitHub</a>
      </li>
      <li class="flex items-center gap-1 group">
        <Check class="mr-1 group-hover:text-cBlue transition duration-150 ease"/> Check my <a href="https://www.linkedin.com/in/antoniomaldonadotech" target="_blank" class="font-semibold group-hover:text-cBlue">LinkedIn</a>
      </li>
      <li class="flex items-center gap-1 group">
        <Check class="mr-1 group-hover:text-cPurple transition duration-150 ease"/> Or prefer <a href="https://x.com/malsebasmal" target="_blank" class="font-semibold group-hover:text-cPurple">Twitter</a>
      </li>
    </ul>
  </div>
</section>