---
import Check from "@/icons/Check.astro"
---

<section id="home" class="w-full h-dvh pt-16 flex justify-center items-center gap-10 animate-fade-down animate-duration-5000 animate-ease-out">
  <div class="flex flex-col items-start text-white">
    <h2 class="font-semibold text-8xl">
      Antonio <br> Maldonado
    </h2>
    <h3 class="font-semibold text-right text-3xl">
      Desarrollador FullStack
    </h3>
  </div>
  <div class="">
    <ul class="flex flex-col gap-3 text-white text-lg">
      <li class="flex items-center gap-1 group">
        <Check class="mr-1 group-hover:text-cYellow"/> You can see <a href="https://github.com/malsebasmal" target="_blank" class="font-semibold group-hover:text-cYellow">GitHub</a>
      </li>
      <li class="flex items-center gap-1 group">
        <Check class="mr-1 group-hover:text-cBlue"/> Check my <a href="https://www.linkedin.com/in/antoniomaldonadotech" target="_blank" class="font-semibold group-hover:text-cBlue">LinkedIn</a>
      </li>
      <li class="flex items-center gap-1 group"> 
        <Check class="mr-1 group-hover:text-cRed"/> Or prefer <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=antoniomaldonadotech@gmail.com" target="_blank" class="font-semibold group-hover:text-cRed">Gmail</a>
      </li>
    </ul>
  </div>
</section>