---
interface Props {
	title: string;
}

const { title } = Astro.props

import '@fontsource-variable/comfortaa';
import "@/styles/reset.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/caticon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="px-2 flex flex-col items-center w-full h-auto">
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #ea638c;
		background-image: linear-gradient(0deg, #ea638c 0%, #89023e 33%, #000000 100%);
	}
</style>
